* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Sistema-Interactivo-De-Mensajes/src/img/back.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    backdrop-filter: blur(14px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(0, 0, 0, .23);
    display: flex; justify-content: center;
    align-items: center; flex-direction: column;
    gap: 10px;
    padding: 3vh 2vh 3vh 2vh;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .20);
    font-size: 1vw;
    overflow: hidden;
    box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, .25);
}

/*diseño de name y age*/
input::placeholder {
    color: #fff;
}

.name{
    margin-bottom: 2vh;
    display: flex; align-items: center;
    gap: 13px;
}

.name input {
    font-size: 17px; padding: 1vh;
    border-radius: 8px; border: none;
    background-color: rgba(255, 255, 255, .20);
    transition: all .3s ease-in-out;
}

.name i {
    font-size: 28px;
    color: #fff;
}

.age {
    margin-bottom: 2vh;
    display: flex; align-items: center;
    gap: 13px;
}

.age input {
    font-size: 17px; padding: 1vh;
    border-radius: 8px; border: none;
    background-color: rgba(255, 255, 255, .20);
    transition: all .3s ease-in-out;
}

.age i {
    font-size: 28px;
    color: #fff;
}

/*diseño boton*/
#button {
    font-size: .9vw; padding: .3vh 2vh .3vh 2vh;
    border: none; border-radius: 5px;
    margin-bottom: 1vh; font-family: sans-serif;
    font-weight: 600; color: #fff;
    background-color: rgba(255, 255, 255, .20);
    transition: all .3s ease-in-out;
}

/* mensaje de resultado diseño*/
#result { 
    background-color: rgba(0, 0, 0, .35);
    height: 4vh; width: 14vw;
    border-radius: 9px;
    display: flex; justify-content: center;
    align-items: center; font-family: sans-serif;
    font-weight: 700; color: #fff;
}

/*animaciones*/
.name input:hover {
    transform: translateX(6px);
}

.age input:hover {
    transform: translateX(6px);
}

#button:hover {
    transform: scale(1.1);
}

